# MongoDB
MONGO_URI=
MONGO_DB_NAME=news_db
MONGO_ARTICLES_COLLECTION_NAME=articles
MONGO_PREFERENCES_COLLECTION_NAME=user_preferences
MONGO_RECOMMENDATION_COLLECTION_NAME=summarized_articles
MONGO_SUMMARIZED_COLLECTION_NAME=summarized_articles

# Gemini AI
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# NewsAPI
NEWS_API_KEY=
